{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.partnerships.enable }}
{{ "<!-- Partnerships Section Start -->" | safeHTML }}
<section id="partnerships-page" class="pages partnerships-page">
    <div class="container">
        <div class="row"><div class="col-lg-6">
            {{ with .Site.Data.partnerships.title }}<h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
            {{ with .Site.Data.partnerships.subtitle }}<p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | markdownify }}</p>{{ end }}
        </div>
    </div>
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="block">
                    <div class="row partnerships-parts">
                        {{ range .Site.Data.partnerships.partnershipsItem }}
                        <div class="col-md-6">
                            <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                {{ with .icon }}<i class="{{ . }}"></i>{{ end }}
                                {{ with .title }}<h4>{{ . }}</h4>{{ end }}
                                {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="block">
                <figure>
                    <div class="img-wrapper">
                            {{ with .Site.Data.partnerships.image }}<img src="{{ . | absURL }}" alt="Credit His and Hers Photo Studio">{{ end }}
                            <div class="overlay">
                                <div class="buttons">
                                    <a class="fancybox" href="https://hisandhersphotostudios.com" target="_blank">Credit: His and Hers Photo Studio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Partnerships Section End -->" | safeHTML }}
{{ end }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

{{ end }}